.mainParent {
    position: absolute;
}

[rel="1"] {
    font-size: 16px !important;
    color: black !important;
    margin-left: 10px !important;
    cursor: text;
    width: fit-content !important;
    pointer-events: none !important;
}

.custom-class {
    font-size: 30px !important;
}

.title-container {
    border-bottom: 1px solid;
}

.title-container h2 {
    width: fit-content;
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}


.apexcharts-align-center {
    text-align: left !important;
}

.apexcharts-legend-marker {
    margin-right: 15px !important;
    width: 15px !important;
    height: 15px !important;
}


p {
    display: inline-block;
    margin: 0;
    margin-top: 3px;
}

.mainCon {
    position: relative;
}

.circle-mid {
    position: absolute;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 56%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.circle {
    border-radius: 50%;
    background-color: #070c38;
    color: white;
    width: 64px;
    height: 64px;
}

.partner-div {
    width: fit-content;
    position: absolute;
    top: 4rem;
    right: 4rem;
}